<!DOCTYPE html>
<html>
<head>
	<title>
		WebDuniya
	</title>
</head>
<style type="text/css">
	body
	{
		overflow: hidden;
		background: #85d2cd;
	}
	header
	{
		font-size: 20pt;
		text-align: center;
	}
	a
	{
		text-decoration: none;	
	}
	footer
	{
		position: absolute;
		bottom: 5%;
		font:10pt;
		left: 50%;
		right: 50%;

	}
</style>
<body>
<header>
	This website is specially designed  only for CSE-D but anyone can access it
</header>
<br><br>
<p align="center">
	<b>Please Select your Subject </b>
</p>
<table border="2" bgcolor="#efefef" align="center">
	<tr>
		<th width="200px">Subject Name</th>
		<th width="200px">Teacher Name</th>
		<th width="200px">Click Button</th>
	</tr>
	<tr>
		<th>DataBase Management System</th>
		<th>Mr. Vineet Kumar</th>
		<th width="200px"><a href="/csed/dbms/" target="_blank" id="topress">Click Here</a></th>
	</tr>
	<tr>
		<th>Design and Analysis of ALgorithms</th>
		<th>Mr. Twinkle Tyagi</th>
		<th width="200px"><a href="/csed/daa/" target="_blank" id="topress">Click Here</a></th>
	</tr>
	<tr>
		<th>Machine Learning</th>
		<th>Mr. KedarNath</th>
		<th width="200px"><a href="/csed/ml/" target="_blank" id="topress">Click Here</a></th>
	</tr>
	<tr>
		<th>Compiler Design</th>
		<th>Mrs. Ratna Patil</th>
		<th width="200px"><a href="/csed/cd/" target="_blank" id="topress">Click Here</a></th>
	</tr>

	<tr>
		<th>Data Analysis</th>
		<th>Mrs. Surabhi Purwar</th>
		<th width="200px"><a href="/csed/da/" target="_blank" id="topress">Click Here</a></th>
	</tr>
</table>
<br>
<br>
<br>
<p align="Center"><b>Time Table</b></p>
<br>
<br>
<table border="2" bgcolor="#efefef" align="center">
 <tr bgcolor="#fff">
 <th width="150">Time/Days</th>
 <th width="150">Monday</th>
 <th width="150">Tuesday</th>
 <th width="150">Wednesday</th>
 <th width="150" >Thursday</th>
 <th width="150" >Friday</th>
 </tr>
 <tr bgcolor="#fff">
 <th>10:55 AM</th>
 <td width="150">DBMS</td>
 <td width="150">Compiler Design</td>
 <td width="150">DBMS</td>
 <td width="150">Compiler Design</td>
 <td width="150">DBMS</td>
 </tr>
 <tr bgcolor="#fff">
 <th>11:50 AM</th>
 <td width="150">Machine Learning</td>
 <td width="150">Data Analysis</td>
 <td width="150">Machine Learning</td>
 <td width="150">Data Analysis</td>
 <td width="150">Machine Learning</td>
 </tr>
 <tr bgcolor="#fff">
 <th>12:45 PM</th>
 <td width="150">Compiler Design</td>
 <td width="150">DBMS</td>
 <td width="150">Compiler Design</td>
 <td width="150">DBMS</td>
 <td width="150">Compiler Design</td>
 </tr>
 <tr bgcolor="#fff">
 <th>02:35 PM</th>
 <td width="150">Design And Analysis of algorithms</td>
 <td width="150">Design And Analysis of algorithms</td>
 <td width="150">Design And Analysis of algorithms</td>
 <td width="150">Design And Analysis of algorithms</td>
 <td width="150">Design And Analysis of algorithms</td>
 </tr>
 <tr bgcolor="#fff">
 <th>03:30 PM</th>
 
 <td width="150">Data Analysis</td>
 <td width="150">Machine Learning</td>
 
 <td width="150">Data Analysis</td>
 <td width="150">Machine Learning</td>
 <td width="150">Data Analysis</td>
 </tr>
 </table>
</body>
</html>